<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skullcandy</title>
    <link href="../src/images/skullcandy black logo.png" rel="icon" type="image/x-icon">
    <link href="/output.css" rel="stylesheet">
    <link href="/input.css" rel="stylesheet">
    <link href="/custom.css" rel="stylesheet">
    <link href='/buy_now.css' rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="/responsive.css" rel="stylesheet">
</head>

<body class="h-full m-0 p-0">
    <div id="top-header" class=" w-full h-16 z-30 bg-black fixed top-0 left-0">
        <div id="logos-2" class="flex flex-row w-full ml-7">
            <div class="flex flex-row mt-2">
                <img src="/images/skullcandy-logo-77844E575B-seeklogo.com.png" id="logo" class="w-10 h-12 pl-1 " alt="logo">
                <p class="text-white my-auto text-3xl font-bold">Skullcandy</p>
            </div>
            <div class="flex justify-around mt-5 ml-2 w-64">
                <a href="#" id="shop" class="text-white relative cursor-pointer font-mono">SHOP</a>
                <a href="#" id="inside-skull" class="text-white relative cursor-pointer font-mono">INSIDE SKULLCANDY</a>
            </div>

        </div>
        <div>
            <div id="shop-hover-details">
                <div class="flex flex-row justify-around items-center">
                    <div id="section-1" class="relative mt-5">
                        <p class="sec1-p">New TWS</p>
                        <p class="sec1-p">Skull-IQ</p>
                        <p class="sec1-p">Corporate Sales</p>
                        <p class="sec1-p2">Budget TWS</p>
                        <p class="sec1-p2">ANC TWS</p>
                        <p class="sec1-p2">Best Sellers</p>
                    </div>
                    <div>
                        <p class="sec1-p-head">Earbuds</p>
                        <p class="sec1-p">Shop All Earbuds</p>
                    </div>
                    <div>
                        <p class="sec1-p-head">Headphones</p>
                        <p class="sec1-p">Shop All Headphones</p>
                    </div>
                    <div>
                        <p class="sec1-p-head">Gaming</p>
                        <p class="sec1-p">Shop All Gaming</p>
                    </div>
                    <div>
                        <p class="sec1-p-head">Others</p>
                        <p class="sec1-p2">Best Sellers</p>
                        <p class="sec1-p">Premium Products</p>
                        <p class="sec1-p">Tile™ - Enables Products</p>
                        <p class="sec1-p">Active Lifestyle</p>
                    </div>

                </div>
            </div>
            <div id="inside-skull-details">
                <div id="inside-skull-flex" class="flex flex-row items-center">
                    <div id="imgs-3" class="overflow-hidden">
                        <img src="/images/people1.jpg" alt="people" class="cursor-pointer hover:scale-105">
                        <p id="inside-skully-p">our mission,vision, and values</p>
                    </div>
                    <div id="imgs-3" class="overflow-hidden">
                        <img src="/images/culture.jpg" alt="culture" class="cursor-pointer hover:scale-105">
                        <p id="inside-skully-p">Our culture </p>
                    </div>
                    <div id="imgs-3" class="overflow-hidden">
                        <img src="/images/team.jpg" alt="team" class="cursor-pointer hover:scale-105">
                        <p id="inside-skully-p">our team</p>
                    </div>
                </div>
            </div>
            <div id="cart">
                <img src="/images/shopping_bag_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png" id="cart-logo" alt="cart">
                <div id="cart-tab">

                    <div id="cart-screen">
                        <div id="img-close">
                            <img src="/images/close-cross-circular-outlined-interface-button_58253.png" id="close-icon" alt="close">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="res-start">
            <div class="flex flex-row mt-2">
                <img src="/images/skullcandy-logo-77844E575B-seeklogo.com.png" id="logo" class="w-10 h-12 cursor-pointer" alt="logo">
                <p class="text-white my-auto text-3xl font-bold">Skullcandy</p>
            </div>
            <img src="/images/menu.png" id="options-btn" class="w-10 h-12 cursor-pointer" alt=option>
        </div>

        <div id="options-screen">
            <div id=close-div class="flex w-auto items-center justify-end mr-6">
                <img src="/images/close-cross-circular-outlined-interface-button_58253.png" id="close-opt" alt="close" class="mt-4 w-8 h-8  cursor-pointer">
            </div>
            <div id="options-list">
                <div id="lists-item">
                    <p id="home-direct">Shop</p>
                </div>
                <div id="lists-item">
                    <p>inside skull</p>
                </div>
                <div id="lists-item">
                    <p id="cart-direct">Cart</p>
                </div>
                <div id="lists-item">
                    <p>support</p>
                </div>
                <div class="list-item1">
                    <p>log in</p>
                </div>
            </div>
        </div>
    </div>




    <div>
        <div class="flex justify-center items-center flex-col mt-16">
            <a href="#" id="coupon-text" class="text-center mt-4 hover:underline hover:text-blue-800 text-blue-500 font-extralight ">Use Coupon Code<span class="text-xl font-bold text-blue-600 "> ABC67</span> Get Flat <span class="font-semibold text-red-600
            " style="font-size: 24px; "> 67% OFF</span> on MRP<span class="text-blue-600 text-xl font-semibold ">  SHOP NOW > </span></a>
            <div id="prepaid" class="w-full h-auto mt-3 bg-black z-10 ">
                <p class="text-center p-2 my-auto text-2xl  text-yellow-300 ">PREPAID OFFER 5% OFF ON EARBUDS & 10% OFF ON HEADPHONES</p>
            </div>
        </div>
    </div>
    <div id="contents">
        <div id="buy-contents">
            <div>
                <p id="hp-tagline" class="text-center font-bold text-3xl uppercase text-white"></p>
                <p id="hp-name" class="mt-3 capitalize text-xl text-center text-white"></p>
                <p id="hp-price" class=" mt-3 font-bold text-white text-center"></p>
            </div>
            <!-- Need to add  IMAGE for smal devices   -->
            <div id="img-small-div">
                <img id="img-small" src="#">
            </div>

            <div id="review-section">
                <div id="star-section" class="mt-3">
                    <span class="fa fa-star text-white"></span>
                    <span class="fa fa-star text-white"></span>
                    <span class="fa fa-star text-white"></span>
                    <span class="fa fa-star text-white"></span>
                    <span class="fa fa-star"></span>
                    <span id="review-number"></span>
                </div>
                <div id="choose-color" class="mt-3">
                    <p id="hp-color" class="p-2"></p>
                    <p class="p-2">+</p>
                </div>
                <button id="buy-now" class="uppercase">Buy now</button>
                <div class="flex flex-row">
                    <button class="mt-5 text-white capitalize" id="review-btn1">Product Video</button>
                    <button class="mt-5 fa fa-star text-white capitalize" id="review-btn2"> Review</button>
                </div>
                <div class="mt-2">
                    <input type="checkbox"><span class="ml-2">I Agree <a>Terms and conditions</a> </span>
                </div>
            </div>
        </div>


        <div id="buy-contents2" class="mt-5">
            <p id="hp-id" style="display: none;">
                <%= id %>
            </p>
            <div>
                <img id="hp-img-buy" src="#">
            </div>
        </div>
    </div>

    <div id="headphone-details">
        <div id="hp-points">
            <p class="text-white text-2xl"> Noise Isolating Fit</p>
            <p class="text-white text-2xl">Microphone</p>
            <p class="text-white text-2xl">Call and Track Controls</p>
        </div>

    </div>

    <div id="review-page">
        <div id="review-header" class="mt-5 flex justify-center flex-col items-center">
            <p class="text-white text-6xl  font-bold uppercase text-center">Reviews</p>
            <button class="uppercase text-white mt-5 p-2 relative z-10 overflow-hidden cursor-pointer" id="review-write-btn">write a review</button>
        </div>
        <div id="review-contents">
            <div id="content-details">
                <div>
                    <span class="fa fa-star text-white"></span>
                    <span class="fa fa-star text-white"></span>
                    <span class="fa fa-star text-white"></span>
                    <span class="fa fa-star text-white"></span>
                    <span class="fa fa-star  text-white "></span>
                </div>
                <p class="text-white">Excellent</p>
                <p class="text-white">John Doe. July 13, 2024</p>
            </div>
            <div id="content-details">
                <div>
                    <span class="fa fa-star text-white"></span>
                    <span class="fa fa-star text-white"></span>
                    <span class="fa fa-star text-white"></span>
                    <span class="fa fa-star text-white"></span>
                    <span class="fa fa-star  text-white "></span>
                </div>
                <p class="text-white">Good</p>
                <p class="text-white">John Smith. April 6, 2024</p>
            </div>
            <div id="content-details">
                <div>
                    <span class="fa fa-star text-white"></span>
                    <span class="fa fa-star text-white"></span>
                    <span class="fa fa-star text-white"></span>
                    <span class="fa fa-star text-white"></span>
                    <span class="fa fa-star  text-white "></span>
                </div>
                <p class="text-white">Excellent</p>
                <p class="text-white">Alex Brown. March 23, 2024</p>
            </div>

        </div>
    </div>

    <div id="guides">
        <div id="text-guide">
            <p id="guide-p1" class="text-white text-center mt-5 text-4xl font-bold">HAVING TROUBLE?</p>
            <p id="guide-p2" class="text-white text-center mt-4">Let us help you with your Dime® True Wireless Earbuds</p>
        </div>
        <div id="guide-btns">
            <div id="guide-btn1">
                <div id="head">
                    <img src="/images/book.png" alt="book" class="h-12 w-12 mr-3">
                    <p class="text-3xl font-bold text-white">Quick Start Guide</p>
                </div>
                <div id="desc">
                    <p class="text-xl p-5 text-center text-white">First time pairing? No problem. Let’s get you set up and ready to listen to music</p>
                </div>
                <button id="guide-st-btn" class="text-white bg-black h-10 w-32 rounded-3xl">Start Set up</button>
            </div>
            <div id="guide-btn2">
                <div id="head">
                    <img src="/images/play_circle_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png" alt="book" class="h-12 w-12  mr-3">
                    <p class="text-3xl font-bold text-white mt-1">Video User Guide</p>
                </div>
                <div id="desc">
                    <p class="text-xl p-5  text-center text-white">Get to know your Jib™ True 2 earbuds’ controls and features.</p>
                </div>

                <button id="guide-st-btn" class="text-white bg-black h-10 w-32 rounded-3xl">Watch Now</button>

            </div>
            <div id="guide-btn3">
                <div id="head">
                    <img src="/images/person_alert_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png" alt="book" class="h-12 w-12  mr-3">
                    <p class="text-3xl font-bold text-white">Troubleshooting</p>
                </div>
                <div id="desc">
                    <p class="text-xl text-center p-5 text-white">Get help connecting to devices, using one earbud and other functions.</p>
                </div>
                <button id="guide-st-btn" class="text-white bg-black h-10 w-32 rounded-3xl">Get Help</button>
            </div>
        </div>
        <div id="help-btn-div">
            <button class="text-white bg-black" id="help-btn">Visit Help Center</button>
        </div>

    </div>

    <footer id="main-footer" class="w-full h-96 bg-black relative ">
        <div id="email" class="flex flex-col absolute top-16 left-28 ">
            <p class="text-white text-center font-bold ">HEAR IT FIRST</p>
            <div class="flex items-center">
                <input type="text" class="w-52 h-12 mt-6 pl-2" placeholder="Sign up for Emails"><span class="text-white text-3xl mt-3 ml-1">&#62;</span>
            </div>
        </div>

        <div id="details1" class="flex justify-center items-center">
            <div id="details2" class="flex justify-evenly flex-row ">
                <div id="details" class="flex  tems-center flex-col ml-10 ">
                    <p class="footer-p">Help Center</p>
                    <p class="footer-p">Contact Us</p>
                    <p class="footer-p">Product Help</p>
                    <p class="footer-p">Warrant </p>
                    <p class="footer-p">Order Status</p>
                </div>
                <div id="details" class="flex items-center flex-col ml-10 ">
                    <p class="footer-p">Bulk Orders</p>
                    <p class="footer-p">Press Releases</p>
                    <p class="footer-p">Blogs</p>
                    <p class="footer-p">Contest</p>
                </div>
                <div id="details" class="flex items-center flex-col ml-10 ">
                    <p class="footer-p">About</p>
                    <p class="footer-p">Born In Pc</p>
                    <p class="footer-p">Careers</p>
                </div>


            </div>
        </div>
        <div id="social-pos" class="absolute top-6 right-6 p-4 ">
            <div id="social0" class="flex flex-col justify-start items-end ">
                <div id="socials-1" class="flex justify-between items-center flex-col ">
                    <p id="follow-text" class="footer-p font-bold ">FOLLOW US</p>
                    <div id="socials-2" class=" w-32 flex justify-around flex-row ">
                        <img src="/images/instagram.png " alt="insta" class="h-5 cursor-pointer w-5 ">
                        <img src="/images/youtube.png " alt="yt" class="h-5 w-5 cursor-pointer ">
                        <img src="/images/fb.png " alt="fb" class="h-5 w-5 cursor-pointer ">
                        <img src="/images/x.png " alt="twitter x" class="h-5 w-5 cursor-pointer ">
                    </div>
                    <p id="contact-us" class="footer-p font-bold ">CONTACT US</p>
                    <div id="contact-div" class="flex justify-center items-center flex-col ">
                        <p class="footer-p">Email :- customercare@brandeyes.in</p>
                        <p class="footer-p">Phone - 011-42700400</p>
                        <p class="footer-p">Mon-Fri, 10 AM - 4 PM</p>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <script type="module" src="./js/buy_now.js"></script>
    <script type="module" src="./js/main.js"></script>

</body>

</html>