<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skullcandy</title>
    <link href="/images/skullcandy black logo.png" rel="icon" type="image/x-icon">
    <link href="/output.css" rel="stylesheet">
    <link href="/input.css" rel="stylesheet">
    <link href="/custom.css" rel="stylesheet">
    <link href='/buy_now.css' rel="stylesheet">
    <link href="/responsive.css" rel="stylesheet">
</head>

<body class="h-full m-0 p-0">
    <div id="top-header" class=" w-full h-16 z-30 bg-black fixed top-0 left-0">
        <div id="logos-2" class="flex flex-row w-full ml-7">
            <div class="flex flex-row mt-2">
                <img src="images/skullcandy-logo-77844E575B-seeklogo.com.png" id="logo" class="w-10 h-12 pl-1 " alt="logo">
                <p class="text-white my-auto text-3xl font-bold">Skullcandy</p>
            </div>
            <div class="flex justify-around mt-5 ml-2 w-64">
                <a href="#" id="shop" class="text-white relative cursor-pointer font-mono">SHOP</a>
                <a href="#" id="inside-skull" class="text-white relative cursor-pointer font-mono">INSIDE SKULLCANDY</a>
            </div>

        </div>
        <div>
            <div id="shop-hover-details">
                <div class="flex flex-row justify-around items-center">
                    <div id="section-1" class="relative mt-5">
                        <p class="sec1-p">New TWS</p>
                        <p class="sec1-p">Skull-IQ</p>
                        <p class="sec1-p">Corporate Sales</p>
                        <p class="sec1-p2">Budget TWS</p>
                        <p class="sec1-p2">ANC TWS</p>
                        <p class="sec1-p2">Best Sellers</p>
                    </div>
                    <div>
                        <p class="sec1-p-head">Earbuds</p>
                        <p class="sec1-p">Shop All Earbuds</p>
                    </div>
                    <div>
                        <p class="sec1-p-head">Headphones</p>
                        <p class="sec1-p">Shop All Headphones</p>
                    </div>
                    <div>
                        <p class="sec1-p-head">Gaming</p>
                        <p class="sec1-p">Shop All Gaming</p>
                    </div>
                    <div>
                        <p class="sec1-p-head">Others</p>
                        <p class="sec1-p2">Best Sellers</p>
                        <p class="sec1-p">Premium Products</p>
                        <p class="sec1-p">Tile™ - Enables Products</p>
                        <p class="sec1-p">Active Lifestyle</p>
                    </div>

                </div>
            </div>
            <div id="inside-skull-details">
                <div id="inside-skull-flex" class="flex flex-row items-center">
                    <div id="imgs-3" class="overflow-hidden">
                        <img src="/images/people1.jpg" alt="people" class="cursor-pointer hover:scale-105">
                        <p id="inside-skully-p">our mission,vision, and values</p>
                    </div>
                    <div id="imgs-3" class="overflow-hidden">
                        <img src="/images/culture.jpg" alt="culture" class="cursor-pointer hover:scale-105">
                        <p id="inside-skully-p">Our culture </p>
                    </div>
                    <div id="imgs-3" class="overflow-hidden">
                        <img src="/images/team.jpg" alt="team" class="cursor-pointer hover:scale-105">
                        <p id="inside-skully-p">our team</p>
                    </div>
                </div>
            </div>
        </div>
        <!--CART SCREEN BELOW !!!-->
        <div id="cart">
            <img src="/images/shopping_bag_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png" id="cart-logo" alt="cart">
            <div id="cart-tab">
                <div id="cart-screen">
                    <div id="img-close">
                        <div class="flex justify-center items-center w-full">
                            <p class="uppercase text-2xl font-bold text-black">Shopping cart</p>
                        </div>
                        <div class="flex justify-end items-center w-full">
                            <img src="/images/close-cross-circular-outlined-interface-button_58253.png" id="close-icon" alt="close">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="res-start" class="w-full">
            <div class="flex flex-row mt-2">
                <img src="/images/skullcandy-logo-77844E575B-seeklogo.com.png" id="logo" class="w-10 h-12 cursor-pointer" alt="logo">
                <p class="text-white my-auto text-3xl font-bold">Skullcandy</p>
            </div>
            <img src="/images/menu.png" id="options-btn" class="w-10 h-12 cursor-pointer" alt="option">
        </div>

        <div id="options-screen">
            <div id=close-div class="flex w-auto items-center justify-end mr-6">
                <img src="/images/close-cross-circular-outlined-interface-button_58253.png" id="close-opt" alt="close" class="mt-4 w-8 h-8  cursor-pointer">
            </div>
            <div id="options-list">
                <div id="lists-item">
                    <p>Shop</p>
                </div>
                <div id="lists-item">
                    <p>inside skull</p>
                </div>
                <div id="lists-item">
                    <p id="cart-direct">Cart</p>
                </div>
                <div id="lists-item">
                    <p>support</p>
                </div>
                <div class="list-item1">
                    <p>log in</p>
                </div>
            </div>
        </div>

    </div>

    <div class="w-full">
        <div class="flex justify-center items-center flex-col w-full mt-16">
            <a href="#" id="coupon-text" class="text-center mt-4 hover:underline hover:text-blue-800 text-blue-500 font-extralight ">Use Coupon Code<span class="text-xl font-bold text-blue-600 "> ABC67</span> Get Flat <span class="font-semibold text-red-600" style="font-size: 24px; "> 67% OFF</span> on MRP<span class="text-blue-600 text-xl font-semibold "> SHOP NOW > </span></a>
            <div id="prepaid" class="w-full h-auto mt-3 bg-black ">
                <p class="text-center p-2 my-auto text-2xl text-yellow-300 ">PREPAID OFFER 5% OFF ON EARBUDS & 10% OFF ON HEADPHONES</p>
            </div>
        </div>
    </div>



    <div class="flex justify-center items-center h-40 font-extrabold text-black text-6xl p-2 ">
        <p id="shop-text">SHOP</p>
    </div>

    <div id="btns-9" class="grid w-full grid-cols-4 gap-3 p-3 mx-4 justify-around items-center ">
        <button id="headphone-btns" class="btns">TRULY WIRELESS EARBUDS</button>
        <button id="headphone-btns" class="btns">PREMIUM TWS</button>
        <button id="headphone-btns" class="btns">NEW TWS</button>
        <button id="headphone-btns" class="btns">HEADPHONES</button>
        <button id="headphone-btns" class="btns">GAMING</button>
        <button id="headphone-btns" class="btns">EARBUDS </button>
        <button id="headphone-btns" class="btns">DIME FAMILY</button>
        <button id="headphone-btns" class="btns">BUDGET TWS</button>
        <button id="headphone-btns" class="btns">ANC TWS</button>
    </div>


    <div id="headphones-img">
        <div id="imgs-grid">
            <img src="/images/pngegg (1).png" alt="img1">
            <p id="1" class="font-bold">Ink’d®+ Earbuds with Microphone</p>
            <p id="price" class="text-xl">100</p>
            <button id="Add-to-cart" class="buy-now-btn">Add to Cart</button>
            <button id="headphone-buy-btns" class="buy-now-btn">Buy now</button>
        </div>
        <div id="imgs-grid">
            <img src="/images/pngegg (2).png" alt="img2">
            <p id="2" class="font-bold">Jib Earbuds with Microphone</p>
            <p id="price" class="text-xl">200</p>
            <button id="Add-to-cart" class="buy-now-btn">Add to Cart</button>
            <button id="headphone-buy-btns" class="buy-now-btn">Buy now</button>
        </div>
        <div id="imgs-grid">
            <img src="/images/pngegg (3).png" alt="img3">
            <p id="3" class="font-bold">Jib Earbuds with Microphone</p>
            <p id="price" class="text-xl">300</p>
            <button id="Add-to-cart" class="buy-now-btn">Add to Cart</button>
            <button id="headphone-buy-btns" class="buy-now-btn">Buy now</button>
        </div>
        <div id="imgs-grid">
            <img src="/images/pngegg (4).png" alt="img4">
            <p id="4" class="font-bold">Jib™+ Wireless Earbuds</p>
            <p id="price" class="text-xl">400</p>
            <button id="Add-to-cart" class="buy-now-btn">Add to Cart</button>
            <button id="headphone-buy-btns" class="buy-now-btn">Buy now</button>
        </div>
    </div>
    <div id="headphones-img">
        <div id="imgs-grid">
            <img src="/images/pngegg (10).png" alt="img5">
            <p id="5" class="font-bold">Jib Earbuds with Microphone</p>
            <p id="price" class="text-xl">500</p>
            <button id="Add-to-cart" class="buy-now-btn">Add to Cart</button>
            <button id="headphone-buy-btns" class="buy-now-btn">Buy now</button>
        </div>

        <div id="imgs-grid">
            <img src="/images/pngegg (5).png" alt="img6">
            <p id="6" class=" font-bold">Crusher® ANC 2 Sensory Bass</p>
            <p id="price" class="text-xl">600</p>
            <button id="Add-to-cart" class="buy-now-btn">Add to Cart</button>
            <button id="headphone-buy-btns" class="buy-now-btn">Buy now</button>
        </div>
        <div id="imgs-grid">
            <img src="/images/pngegg (6).png" alt="img7">
            <p id="7" class=" font-bold">Riff On-Ear Headphone</p>
            <p id="price" class="text-xl">700</p>
            <button id="Add-to-cart" class="buy-now-btn">Add to Cart</button>
            <button id="headphone-buy-btns" class="buy-now-btn">Buy now</button>
        </div>
        <div id="imgs-grid">
            <img src="/images/pngegg (7).png " alt="img8 ">
            <p id="8" class="font-bold">Cassette™ Wireless</p>
            <p id="price" class="text-xl">800</p>
            <button id="Add-to-cart" class="buy-now-btn">Add to Cart</button>
            <button id="headphone-buy-btns" class="buy-now-btn">Buy now</button>
        </div>
    </div>
    <div id="headphones-img">
        <div id="imgs-grid">
            <img src="/images/pngegg (9).png " alt="img9 ">
            <p id="9" class=" font-bold">Grind® True Wired</p>
            <p id="price" class="text-xl">900</p>
            <button id="Add-to-cart" class="buy-now-btn">Add to Cart</button>
            <button id="headphone-buy-btns" class="buy-now-btn">Buy now</button>
        </div>
        <div id="imgs-grid">
            <img src="/images/bud2.png" alt="img10">
            <p id="10" class="font-bold">Push™ Active True Wireless</p>
            <p id="price" class="text-xl">1000</p>
            <button id="Add-to-cart" class="buy-now-btn">Add to Cart</button>
            <button id="headphone-buy-btns" class="buy-now-btn">Buy now</button>
        </div>
        <div id="imgs-grid">
            <img src="/images/buds1.png " alt="img11 ">
            <p id="11" class="font-bold">Sesh® ANC True Wireless</p>
            <p id="price" class="text-xl">1100</p>
            <button id="Add-to-cart" class="buy-now-btn">Add to Cart</button>
            <button id="headphone-buy-btns" class="buy-now-btn">Buy now</button>
        </div>
        <div id="imgs-grid">
            <img src="/images/buds3.png" alt="img12">
            <p id="12" class="font-bold">Skullcandy EcoBuds™</p>
            <p id="price" class="text-xl">1200</p>
            <button id="Add-to-cart" class="buy-now-btn">Add to Cart</button>
            <button id="headphone-buy-btns" class="buy-now-btn">Buy now</button>
        </div>
    </div>

    <footer id="main-footer" class="w-full h-96 bg-black mt-9  relative ">
        <div id="email" class="flex flex-col absolute top-16 left-28 ">
            <p class="text-white text-center font-bold ">HEAR IT FIRST</p>
            <div class="flex items-center">
                <input type="text" class="w-52 h-12 mt-6 pl-2" placeholder="Sign up for Emails"><span class="text-white text-3xl mt-3 ml-1">&#62;</span>
            </div>
        </div>

        <div id="details1" class="flex justify-center items-center">
            <div id="details2" class="flex justify-evenly flex-row mt-12 ">
                <div id="details" class="flex  tems-center flex-col ml-10 ">
                    <p class="footer-p">Help Center</p>
                    <p class="footer-p">Contact Us</p>
                    <p class="footer-p">Product Help</p>
                    <p class="footer-p">Warrant </p>
                    <p class="footer-p">Order Status</p>
                </div>
                <div id="details" class="flex items-center flex-col ml-10 ">
                    <p class="footer-p">Bulk Orders</p>
                    <p class="footer-p">Press Releases</p>
                    <p class="footer-p">Blogs</p>
                    <p class="footer-p">Contest</p>
                </div>
                <div id="details" class="flex items-center flex-col ml-10 ">
                    <p class="footer-p">About</p>
                    <p class="footer-p">Born In Pc</p>
                    <p class="footer-p">Careers</p>
                </div>


            </div>
        </div>
        <div id="social-pos" class="absolute top-6 right-6 p-4 ">
            <div id="social0" class="flex flex-col justify-start items-end ">
                <div id="socials-1" class="flex justify-between items-center flex-col ">
                    <p id="follow-text" class="footer-p font-bold ">FOLLOW US</p>
                    <div id="socials-2" class=" w-32 flex justify-around flex-row ">
                        <img src="/images/instagram.png " alt="insta" class="h-5 cursor-pointer w-5 ">
                        <img src="/images/youtube.png " alt="yt" class="h-5 w-5 cursor-pointer ">
                        <img src="/images/fb.png " alt="fb" class="h-5 w-5 cursor-pointer ">
                        <img src="/images/x.png " alt="twitter x" class="h-5 w-5 cursor-pointer ">
                    </div>
                    <p id="contact-us" class="footer-p font-bold ">CONTACT US</p>
                    <div id="contact-div" class="flex justify-center items-center flex-col ">
                        <p class="footer-p">Email :- customercare@brandeyes.in</p>
                        <p class="footer-p">Phone - 011-42700400</p>
                        <p class="footer-p">Mon-Fri, 10 AM - 4 PM</p>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <script type="module" src="./js/main.js"></script>

</body>

</html>