<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/images/skullcandy black logo.png" rel="icon" type="image/x-icon">
    <link href="/output.css" rel="stylesheet">
    <link href="/input.css" rel="stylesheet">
    <link href="/custom.css" rel="stylesheet">
    <link href="/login.css" rel="stylesheet">
    <link href="/responsive.css" rel="stylesheet">

</head>



<body class="h-full m-0 p-0">
    <div id="top-header" class=" w-full h-16 z-30 bg-black fixed top-0 left-0">
        <div id="logos-2" class="flex flex-row w-full ml-7">
            <div class="flex flex-row mt-2">
                <img src="/images/skullcandy-logo-77844E575B-seeklogo.com.png" id="logo" class="w-10 h-12 pl-1 " alt="logo">
                <p class="text-white my-auto text-3xl font-bold">Skullcandy</p>
            </div>
            <div class="flex justify-around mt-5 ml-2 w-64">
                <a href="#" id="shop" class="text-white relative cursor-pointer font-mono">SHOP</a>
                <a href="#" id="inside-skull" class="text-white relative cursor-pointer font-mono">INSIDE SKULLCANDY</a>
            </div>

        </div>
        <div>
            <div id="shop-hover-details">
                <div class="flex flex-row justify-around items-center">
                    <div id="section-1" class="relative mt-5">
                        <p class="sec1-p">New TWS</p>
                        <p class="sec1-p">Skull-IQ</p>
                        <p class="sec1-p">Corporate Sales</p>
                        <p class="sec1-p2">Budget TWS</p>
                        <p class="sec1-p2">ANC TWS</p>
                        <p class="sec1-p2">Best Sellers</p>
                    </div>
                    <div>
                        <p class="sec1-p-head">Earbuds</p>
                        <p class="sec1-p">Shop All Earbuds</p>
                    </div>
                    <div>
                        <p class="sec1-p-head">Headphones</p>
                        <p class="sec1-p">Shop All Headphones</p>
                    </div>
                    <div>
                        <p class="sec1-p-head">Gaming</p>
                        <p class="sec1-p">Shop All Gaming</p>
                    </div>
                    <div>
                        <p class="sec1-p-head">Others</p>
                        <p class="sec1-p2">Best Sellers</p>
                        <p class="sec1-p">Premium Products</p>
                        <p class="sec1-p">Tile™ - Enables Products</p>
                        <p class="sec1-p">Active Lifestyle</p>
                    </div>

                </div>
            </div>
            <div id="inside-skull-details">
                <div id="inside-skull-flex" class="flex flex-row items-center">
                    <div id="imgs-3" class="overflow-hidden">
                        <img src="/images/people1.jpg" alt="people" class="cursor-pointer hover:scale-105">
                        <p id="inside-skully-p">our mission,vision, and values</p>
                    </div>
                    <div id="imgs-3" class="overflow-hidden">
                        <img src="/images/culture.jpg" alt="culture" class="cursor-pointer hover:scale-105">
                        <p id="inside-skully-p">Our culture </p>
                    </div>
                    <div id="imgs-3" class="overflow-hidden">
                        <img src="/images/team.jpg" alt="team" class="cursor-pointer hover:scale-105">
                        <p id="inside-skully-p">our team</p>
                    </div>
                </div>
            </div>
            <div id="cart">
                <img src="/images/shopping_bag_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.png" id="cart-logo" alt="cart">
                <!-- <span id="cart-span">0</span> -->
                <div id="cart-tab">
                    <div id="cart-tab1">
                        <div id="cart-screen">
                            <div id="img-close">
                                <img src="/images/close-cross-circular-outlined-interface-button_58253.png" id="close-icon" alt="close">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="res-start">
            <div class="flex flex-row mt-2">
                <img src="/images/skullcandy-logo-77844E575B-seeklogo.com.png" id="logo" class="w-10 h-12 cursor-pointer" alt="logo">
                <p class="text-white my-auto text-3xl font-bold">Skullcandy</p>
            </div>
            <img src="/images/menu.png" id="options-btn" class="w-10 h-12 cursor-pointer" alt=option>
        </div>

        <div id="options-screen">
            <div id=close-div class="flex w-auto items-center justify-end mr-6">
                <img src="/images/close-cross-circular-outlined-interface-button_58253.png" id="close-opt" alt="close" class="mt-4 w-8 h-8  cursor-pointer">
            </div>
            <div id="options-list">
                <div id="lists-item">
                    <p>Shop</p>
                </div>
                <div id="lists-item">
                    <p>inside skull</p>
                </div>
                <div id="lists-item">
                    <p>Cart</p>
                </div>
                <div id="lists-item">
                    <p>support</p>
                </div>
                <div class="list-item1">
                    <p>log in</p>
                </div>
            </div>
        </div>



    </div>

    <div>
        <div class="flex justify-center items-center flex-col mt-16">
            <a href="#" id="coupon-text" class="text-center mt-4 hover:underline hover:text-blue-800 text-blue-500 font-extralight ">Use Coupon Code<span class="text-xl font-bold text-blue-600 "> ABC67</span> Get Flat <span class="font-semibold text-red-600
            " style="font-size: 24px; "> 67% OFF</span> on MRP<span class="text-blue-600 text-xl font-semibold ">  SHOP NOW > </span></a>
            <div id="prepaid" class="w-full h-auto mt-3 bg-black ">
                <p class="text-center p-2 my-auto text-2xl text-yellow-300 ">PREPAID OFFER 5% OFF ON EARBUDS & 10% OFF ON HEADPHONES</p>
            </div>
        </div>
    </div>


    <p id="sign-in-header" class="text-center text-6xl font-bold uppercase mt-3 p-3">sign in</p>

    <div id="twoforms">
        <div id="lognin-header">
            <p id="login-p" class="font-bold">log in</p>
            <div id="form1">
                <form method="post" action="/login">
                    <label for="username">Username*</label>
                    <input type="text" value="vicky1" id="username" name="username_login" class="p-5"><br>
                    <label for="password">Password*</label>
                    <div id="login-password">
                        <input type="password" value="12345678" id="log-in-password" name="password_login" required maxlength="20" class="p-5">
                        <img src="/images/visibility_on.png" id="visible-on">
                    </div>

                    <div id="login-link">
                        <button type="submit" id="login-submit-btn" class=" h-11 w-40 text-white uppercase bg-cyan-500 mt-5 p-2 relative z-10 overflow-hidden">Log in</button>
                        <p class="font-small mt-3 cursor-pointer">Lost your password ?</p>
                    </div>
                </form>
            </div>
        </div>
        <div id="register-header">
            <p class="font-bold ml-2 " id="register-p">Register</p>
            <div id="form2">
                <form action="/register" method="post">
                    <label>Username*</label>
                    <input type="text" id="username1" name="usernameRegister" class="p-5"><br>
                    <label>Email address*</label>
                    <input type="email" id="email-input-register" name="emailRegister" class="p-5"><br>
                    <label>Password*</label>
                    <div id="register-password">
                        <input type="text" id="register-password-input" name="passwordRegister" minlength="8" maxlength="20" class="p-5"><br>
                        <img src="/images/visibility_on.png" id="visible-on-register">
                    </div>
                    <div id="register-link">
                        <button type="submit" class=" h-11 w-40 text-white uppercase bg-cyan-500 mt-5 p-2 relative z-10 overflow-hidden">Register</button>
                    </div>

                </form>
            </div>
        </div>

    </div>
    <footer id="main-footer" class="w-full h-96 bg-black mt-9  relative ">
        <div id="email" class="flex flex-col absolute top-16 left-28 ">
            <p class="text-white text-center font-bold ">HEAR IT FIRST</p>
            <div class="flex items-center">
                <input type="text" class="w-52 h-12 mt-6 pl-2" placeholder="Sign up for Emails"><span class="text-white text-3xl mt-3 ml-1">&#62;</span>
            </div>
        </div>

        <div id="details1" class="flex justify-center items-center">
            <div id="details2" class="flex justify-evenly flex-row mt-12 ">
                <div id="details" class="flex  tems-center flex-col ml-10 ">
                    <p class="footer-p">Help Center</p>
                    <p class="footer-p">Contact Us</p>
                    <p class="footer-p">Product Help</p>
                    <p class="footer-p">Warrant </p>
                    <p class="footer-p">Order Status</p>
                </div>
                <div id="details" class="flex items-center flex-col ml-10 ">
                    <p class="footer-p">Bulk Orders</p>
                    <p class="footer-p">Press Releases</p>
                    <p class="footer-p">Blogs</p>
                    <p class="footer-p">Contest</p>
                </div>
                <div id="details" class="flex items-center flex-col ml-10 ">
                    <p class="footer-p">About</p>
                    <p class="footer-p">Born In Pc</p>
                    <p class="footer-p">Careers</p>
                </div>


            </div>
        </div>
        <div id="social-pos" class="absolute top-6 right-6 p-4 ">
            <div id="social0" class="flex flex-col justify-start items-end ">
                <div id="socials-1" class="flex justify-between items-center flex-col ">
                    <p id="follow-text" class="footer-p font-bold ">FOLLOW US</p>
                    <div id="socials-2" class=" w-32 flex justify-around flex-row ">
                        <img src="/images/instagram.png " alt="insta" class="h-5 cursor-pointer w-5 ">
                        <img src="/images/youtube.png " alt="yt" class="h-5 w-5 cursor-pointer ">
                        <img src="/images/fb.png " alt="fb" class="h-5 w-5 cursor-pointer ">
                        <img src="/images/x.png " alt="twitter x" class="h-5 w-5 cursor-pointer ">
                    </div>
                    <p id="contact-us" class="footer-p font-bold ">CONTACT US</p>
                    <div id="contact-div" class="flex justify-center items-center flex-col ">
                        <p class="footer-p">Email :- customercare@brandeyes.in</p>
                        <p class="footer-p">Phone - 011-42700400</p>
                        <p class="footer-p">Mon-Fri, 10 AM - 4 PM</p>
                    </div>
                </div>

            </div>
        </div>
    </footer>




    <script type="module" src="/js/main.js"></script>
    <script type="module" src="js/login.js"></script>
</body>




</html>